<form action="/offers/edit?offer_id={{offer._id}}" method="post">
  <label for="">Puesto:</label>
  <input type="text" name="puesto" value="{{offer.post}}">

  <label for="">Descripción:</label>
  <input type="text" name="descripcion" value="{{offer.description}}">

  <label for="">Requisitos:</label>
  <input type="text" name="requisitos" value="{{offer.requirements}}">

  <label for="">Salario:</label>
  <input type="number" name="salario" value="{{offer.salary}}">

  <button type="submit">EDITAR</button>
</form>